<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= __CONFIG__.TITLE %></title>
    </head>
    <body>
        <section id="<%= __CONFIG__.ROOT_ELEMENT_ID %>">
        </section>
    </body>
</html>
