<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= __CONFIG__.TITLE %></title>
    </head>
    <body>
        <section id="react-root"></section>
    </body>
</html>
